*{  
text-align: center;
}

body {
    background-color: antiquewhite;
}

h1 {
    font-size: 5.5vw;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}

a {
    display: block;
    font-size: 3vw;
    margin: 2vw;
    text-decoration: none;
}